.top {
    padding-top: 1rem;
}
.tit {
    height: 1rem;
    font-size: 14px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    i {
        font-size: 0.4rem;
        line-height: 1rem;
        color: #454545;
        margin-left: 0.1rem;
    }
    img {
        width: 2rem;
        height: 0.65rem;
        margin: 0 auto 0 2.3rem;
    }
}
.banner {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.2rem;
    img {
        width: 100%;
        height: 100%;
    }
}
#problem {
    .protop {
        width: 100%;
        height: 0.7rem;
        font-size: 0.3rem;
        color: #333;
        line-height: 0.7rem;
        padding: 0 0.2rem;
        box-sizing: border-box;
        border-bottom: 1px solid #666;
        i {
            color: #0762b0;
            font-size: 0.30rem;
            margin-right: 0.1rem;
        }
    }
    .procont {
        width: 100%;
        min-height: 7.85rem;
        margin: 0 auto;
        background: #fff;
        .pros {
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid #666;
            font-size: 0.24rem;
            color: #333;
            line-height: 0.65rem;
            span {
                margin-left: 0.2rem;
            }
            i {
                float: right;
                margin-right: 0.2rem;
                font-size: 0.2rem;
                color: #818181;
            }
            .icon-xia {
                font-size: 0.3rem;
            }
            .ans {
                width: 100%;
                display: none;
                margin: 0 auto;
                overflow: hidden;
                background: url("../img/banner1.png") repeat-x;
                padding: 0.2rem 0;
                p {
                    font-size: 0.2rem;
                    line-height: 0.40rem;
                    text-indent: 2em;
                    padding: 0 0.35rem;
                }
            }
        }
        .active {
            border-bottom: none;
        }
    }
}
#product {
    height: 2.05rem;
    width: 100%;
    background: #fff;
    font-size: 0.20rem;
    margin-top: 0.2rem;
    .pdt {
        width: 1.775rem;
        text-align: center;
        float: left;
        img {
            width: 1rem;
            height: 1rem;
            margin-top: 0.3rem;
            margin-bottom: 0.2rem;
        }
        span {
            font-size: 0.24rem;
            color: #333;
            display: block;
        }
    }
}
#ad {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    background: url("../img/ad.png") no-repeat center center;
    background-size: 100% 1rem;
    i{
        position: absolute;
        right: 0.1rem;
        top:0.1rem;
        color:rgba(0,0,0,0.5);
    }
}