.foot{
    background: rgba(0,0,0,0);
     width: 100%;
    height: 0.8rem;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    z-index: 100000;
    a{
         width:50%;
    }
    div{
        width:50%;
        height: 100%;
        font-size: 0.3rem;
        float: left;
        color: #fff;
        text-align: center;
        border-radius: 0.1rem 0.1rem 0 0;
        span{
           display: block;
           padding-top: 0.24rem;
        }
    }
    .first{
        background: #00a0e9;
    }
    .second{
        background: #fb6e6d;
    }
}
