.pagination {
  display: inline-block;
  padding: 0.3rem 0.1rem;
  box-sizing: border-box;
  }

.pagination a {
  display: block;
  float: left;
  width: 0.8rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border: 1px solid #a0a0a0;
  border-radius: 0.08rem;
  outline: none;
  color: #666;
 /* vertical-align: middle;*/
  text-align: center;
  text-decoration: none;
  font-size: 0.2rem;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: #fff;
  }
  .pagination .previous,.pagination .next,.pagination .last,.pagination input{

  	margin-left: 0.5rem;
  }
  /*.pagination a:hover, .pagination a:focus, .pagination a:active {
  	  	 background-color: #8557dd;
    color: #fff;
     }*/
    /*.pagination a:hover{
    	 background-color: #8557dd;
    	 color: #fff;
    }*/
  .pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: #f3f3f3;
    color: #A8A8A8;
    cursor: default; }

.pagination input {
  float: left;
  padding: 0;
  width: 1.8rem;
  height: 0.4rem;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center; }

