.top{
    padding-top: 1rem;
}
.tit {
    height: 1rem;
    font-size: 14px;
    background: #fff;
    width:100%;
    position: fixed;
    top:0;
    border-bottom: 1px solid #e5e5e5;
    i {
        font-size: 0.4rem;
        line-height: 1rem;
        color: #454545;
        margin-left: 0.1rem;
    }
    img {
        width: 2rem;
        height: 0.65rem;
        margin: 0 auto 0 2.3rem;
    }
}
.banner {
    height: 4rem;
    width: 100%;
    margin-bottom: 0.2rem;
    img {
        width: 100%;
        height: 100%;
    }
}
.display {
    background: #fff;
    padding: 0 0.2rem;
    box-sizing: border-box;
    dl {
        width: 2.366rem;
        height: 2.8rem;
        float: left;
        text-align: center;
        dt {
            img {
                width: 1rem;
                height: 1rem;
                margin-top: 0.3rem;
                margin-bottom: 0.1rem;
            }
        }
        .first {
            font-size: 0.3rem;
            color: #2d85f6;
            line-height: 0.5rem;
        }
        .second p {
            margin: 0 0.1rem;
            font-size: 0.2rem;
            color: #666;
            line-height: 0.4rem;
        }
    }
}
.product-introduce {
    font-size: 14px;
    padding: 0 0.2rem;
    box-sizing: border-box;
    margin-top: 0.2rem;
    span {
        font-size: 0.3rem;
        color: #000;
        margin-bottom: 0.12rem;
        line-height: 0.5rem;
        margin-left: 0.1rem;
    }
    p {
        font-size: 0.24rem;
        color: #333;
        line-height: 0.38rem;
    }
}
.carMortgage-display {
    margin-top: 0.2rem;
    .box1 {
        img {
            border: 1px solid #999;
            width: 3.48rem;
            height: 1.6rem;
            float: left;
        }
        img+img {
            margin-left: 0.06rem;
        }
    }
    .box2 {
        margin-top: 0.2rem;
        padding: 0 0.2rem;
        box-sizing: border-box;
        ul {
            width: 2.23rem;
            float: left;
            text-align: center;
            .first {
                img {
                    width: 1.5rem;
                    height: 0.9rem;
                }
            }
            .second p {
                display: inline-block;
                text-align: center;
                font-size: 0.24rem;
                color: #333;
                width: 1.3rem;
            }
        }
    }
    .box3 {
        margin-top: 0.2rem;
        padding-bottom: 0.3rem;
        ul {
            margin-left: 0.4rem;
            li {
                i {
                    color: #1698dc;
                }
                font-size: 0.2rem;
                color: #333;
                line-height: 0.4rem;
            }
        }
    }
}
.product_display {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    dl {
        margin-bottom: 0.05rem;
        width: 3.5rem;
        height: 1.7rem;
        padding-top: 0.3rem;
        background: #fff;
        border-radius: 0.2rem;
        border: 1px solid #e5e5e5;
        box-shadow: 0 4px 5px #e5e5e5;
        float: left;
        box-sizing: border-box;
    }
    dl:nth-of-type(2n-1) {
        margin-right: 0.05rem;
    }
    dt {
        float: right;
        img {
            width: 1rem;
            height: 0.7rem;
            margin-right: 0.1rem;
        }
    }
    dd {
        margin-left: 0.2rem;
    }
    .first {
        font-size: 0.3rem;
        color: #333;
        line-height: 0.4rem;
    }
    .second {
        font-size: 0.24rem;
        line-height: 0.4rem;
    }
    .third {
        font-size: 0.24rem;
        color: #333;
        line-height: 0.4rem;
    }
}
.apply-condition {
    margin-top: 0.2rem;
    font-size: 14px;
    margin-bottom: 0.2rem;
    .menue {
        height: 0.6rem;
        background: #dddddd;
        ul {
            li {
                color: #333;
                font-size: 0.3rem;
                float: left;
                line-height: 0.6rem;
                text-align: center;
                width: 2.5rem;
            }
            .active {
                background: #25cafc;
                color: #fff;
            }
        }
    }
    .content {
        background: #fff;
        height: 4.2rem;
        width: 100%;
        font-size: 10px;
        ol {
            padding-top: 0.2rem;
            margin-left: 0.5rem;
            display: none;
            li {
                color: #333;
                font-size: 0.24rem;
                line-height: 0.4rem;
                list-style: decimal;
                list-style-position: inside;
            }
        }
        .active {
            display: block;
        }
    }
}
.product-detail {
    margin-top: 0.2rem;
    .head {
        padding: 0 0.5rem;
        box-sizing: border-box;
        height: 0.6rem;
        background: #25cafc;
        font-size: 0.3rem;
        color: #fff;
        span {
            line-height: 0.6rem;
        }
        i {
            float: right;
            line-height: 0.6rem;
        }
    }
    .detail {
        padding: 0.2rem 0.5rem;
        box-sizing: border-box;
        background: #fff;
        margin-bottom: 0.2rem;
        display: none;
        ul {
            margin-top: 0.2rem;
        }
        li {
            list-style-type: decimal;
            list-style-position: inside;
            font-size: 0.24rem;
            color: #333;
            line-height: 0.4rem;
        }
    }
}
.advantage {
    padding: 0.3rem 0.2rem;
    box-sizing: border-box;
    background: #fff;
    dl {
        height: 1.2rem;
    }
    dl:nth-last-of-type(2n-1) {
        dt {
            float: left;
            width: 1rem;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
        .first {
            p {
                font-size: 0.3rem;
                color: #000;
                margin-left: 1.2rem;
                line-height: 0.6rem;
            }
        }
        .second {
            p {
                font-size: 0.24rem;
                color: #333;
                margin-left: 1.2rem;
            }
        }
    }
    dl:nth-last-of-type(2n) {
        dt {
            float: right;
            width: 1rem;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
        .first {
            overflow: hidden;
            p {
                float: right;
                font-size: 0.3rem;
                color: #000;
                margin-right: 0.2rem;
                line-height: 0.6rem;
            }
        }
        .second {
            p {
                float: right;
                font-size: 0.24rem;
                color: #333;
                margin-right: 0.2rem;
            }
        }
    }
}